# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: read

jobs:
  build:
    name: scala tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install sbt
      uses: sbt/setup-sbt@v1
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Start Docker
      run: |
        sudo nohup dockerd --host=unix:///var/run/docker.sock --tls=false \
         > /tmp/dockerd.log 2>&1 &
        sleep 10
        echo "=== DOCKERD LOG ==="
        tail -n 50 /tmp/dockerd.log
        echo "=== DOCKER INFO ==="
        docker info
    - name: Run tests
      run: sbt test
    - name: Run integration tests
      run: sbt 'integration / test'
